/* Global Styles */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  text-align: center;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  grid-template-columns: 1fr;
}

/* Hero */

.hero-image {
  background-image: url("../images/bg1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
}

.hero {
  grid-row: 2;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.hero h3 {
  font-size: 1.7rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.hero-btn {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 0;
  padding: 0.7rem 1rem;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.hero-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* About */

.about {
  text-align: center;
  padding: 50px;
}

.about h2 {
  font-weight: 500;
  font-size: 2.5rem;
  padding: 20px;
}

.about p {
  font-weight: 250;
  font-size: 1.5rem;
}

/* Skills */

.skills {
  background-color: rgb(25, 106, 199);
  color: #fff;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 10rem 4rem 10rem;
}

.skills-heading {
  text-align: center;
  grid-column: span 4;
  margin: 2rem;
  font-size: 30px;
  padding-bottom: 1.5rem;
}

.skills-heading h2 {
  font-weight: 100;
  padding-bottom: 1rem;
}

.skills-heading hr {
  width: 10%;
  color: rgba(240, 240, 240, 0.76);
  margin: 0 auto;
}

.skill h4 {
  font-size: 20px;
  padding-bottom: 1rem;
}

.skill p {
  width: 50%;
  margin: 0 auto;
}

.skill span {
  padding-bottom: 1.5rem;
}
