/* Global Styles */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  grid-template-columns: 1fr;
}

/* Hero */

.hero-image {
  background-image: url("../images/bg1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.hero {
  grid-row: 2;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.hero h3 {
  font-size: 1.7rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.hero-btn {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 0;
  padding: 1rem;
  font-weight: 400;
  font-size: 18px;
}

.hero-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* About */

.about {
  text-align: center;
  padding: 50px;
}
